<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elderlycare.servicemodule.mapper.ServiceRelationMapper">

    <select id="selectServiceRelationPage" resultType="com.neusoft.elderlycare.entity.ServiceRelation">
        SELECT sr.id, sr.customer_id, sr.manager_id,
               sr.create_time, sr.update_time,
               c.name AS customer_name,
               u.name AS manager_name
        FROM service_relation sr
        LEFT JOIN customer c ON sr.customer_id = c.id AND c.deleted = 0
        LEFT JOIN sys_user u ON sr.manager_id = u.id AND u.deleted = 0
        WHERE sr.deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (c.name LIKE CONCAT('%', #{keyword}, '%')
                 OR u.name LIKE CONCAT('%', #{keyword}, '%')
                 OR sr.id LIKE CONCAT('%', #{keyword}, '%')
                )
        </if>
        ORDER BY sr.create_time DESC
    </select>

</mapper>
